.studentContainer {
  display: flex;
  border-bottom: 1px solid gray;
  height: 200px;
}

.studentContainerRight {
  width: 80vw;
  text-align: start;
  position: relative;
}

.studentContainerLeft {
  width: 20vw;
}

.image {
  width: 35%;
  border-radius: 50%;
  border: 1px solid gray;
}

.frame {
  width: 30vw;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.studentDetails {
  list-style: none;
}

.plusicon {
  width: 2vw;
  position: absolute;
  top: 10px;
  right: 10px;
}
